[Paths]

PathConstrainteFile: Constraints_Hard
PathConstraintsProbing:Constraints_probing
PathSequenceFasta: fasta_files
FastaExtension: fa
OutputLogfile: Log_file.txt
Psdotpath: dot_plot
Matrixproba: Probability/
rnafile:
Extension: fa
PickledData: PickledData
Varna_path:

[Probing]
sampling: true
constraints: 1M7,NMIA
SHAPEVis:Constraints_probing/didy1M7Probing.txt
numberofsruct:1000
Temperature: 37
m: 1.3
b: -0.4
StructFile: merged_file_samples
cutoffBasePairs : 0.7


[Clustering]
DIANA: F
MiniBatchKMean: true
maxDiameterThreshold: 7
maxAverageDiameterThreshold: 7

[Pareto]
percent:20
CutoffZcondition:0.05
