[Input]
HardConstraintsDir: Constraints_Hard
SoftConstraintsDir: Constraints_Probing
RNADir: fasta_files
Conditions: 1M7, NMIA, Thermo


[Paths]
WorkingDir: output
FASTAExtension: fa
LogFile: Log_file.txt


[Sampling]
DoSampling: true
NumStructures:100
Temperature: 37
m: 1.3
b: -0.4
StructFile: merged_file_samples
cutoffBasePairs : 0.7


[Clustering]
maxDiameterThreshold: 7
maxAverageDiameterThreshold: 7

[Pareto]
Percent:20
CutoffZCondition:0.05
